[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-chat = "*"
langchain = "*"
openai = "*"
faiss-cpu = "*"
tiktoken = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
